@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #559b65, #94c453);
}

code {
  font-family: "Press Start 2P", Helvetica;
}

::-webkit-scrollbar {
  width: 10px;
  background: #559b65;
}
::-webkit-scrollbar-thumb {
  background: #94c453;
}

body::-webkit-scrollbar-track {
  background: #559b65;
}
